/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply px-2 py-1 my-3 mx-1 border-none rounded bg-[#4CAF50] text-white cursor-pointer hover:bg-[#45a049];
}

.button:disabled {
    @apply bg-gray-400 cursor-not-allowed;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* globals.css or profile.module.css */
.errorMessages {
    margin-top: 1rem;
    color: red;
}

.errorMessage {
    margin: 0.5rem 0;
}
/* useful to seperate error messages with fields */
.fieldContainer {
    margin-bottom: 1rem;
}